# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.egg-info/
.pytest_cache/

# Output files
*.csv
*.sql

# Environment variables
.env

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db